<header class='header'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <form class="search-form input-group" id="search-form">
          <input
            type="text"
            class="form-control"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search images..."
          />
          <button type="submit" class='btn btn-primary'>Search</button>
        </form>
      </div>
    </div>
  </div>
</header>
<main>
  <div class='container'>
    <div class="gallery">
      <!-- Картки зображень -->
    </div>
  </div>
</main>
<footer class="footer">
  <div class='container'>
    <button type='button' class='load-more btn btn-primary hidden' data-load-more>Load more</button>
  </div>
</footer>